@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}
<h2>Logg inn</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email">E-post</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Passord</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>
                    <input asp-for="RememberMe" type="checkbox" />
                    Husk meg
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Logg inn</button>
        </form>
        <p>Har du ikke bruker? <a href="/Account/Register">Registrer deg her</a></p>
    </div>
</div>