@{
    ViewData["Title"] = "Bruker slettet";
}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kartverket</title>
    <style>
        body, html {
            margin: 0; /*Avstand fra innhold til sidene*/
            padding: 0;
            height: 100%;
            font-family: Arial, sans-serif;
            color: #f0f0f0;
        }

        .background-image {
            background-image: url('/Bakgrunnsbilder/TestBryggeBilde.png'); /* Legg til ditt bakgrunnsbilde */
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Sørger for at bakgrunnsbildet ligger bak innholdet */
        }

        .container {
            height: calc(100% - 60px); /* For å ta høyde for top bar */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            background-color: #d8e3f2;
            padding: 30px;
            margin: 80px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 100%;
            z-index: 1;
        }

            .form-container h2 {
                color: #00509C;
                padding: 0px 50px;
                margin-bottom: 20px;
            }

            .form-container p {
                margin-bottom: 20px;
                color: #333;
            }

            .forside-knapp button {
                background-color: #8ebf94;
                color: white;
                padding: 12px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
                font-size: 16px;
            }

                .forside-knapp button:hover {
                    background-color: #00973d;
                }

                .form-container img {
                    background-image: url('/Images/KartikusNy.png');
                    max-width: 150px;
                    margin-bottom: 10px;
                }

            .delete-button {
                background-color: #f55959;
                color: white;
                padding: 12px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
                font-size: 16px;
            }
            
            .delete-button:hover {
                background-color: #db3232;
            }                       

                
    </style>
</head>
    <body>
        <div class="background-image"></div> <!-- Bakgrunnsbildet -->

            <div class="container">
                <div class="form-container">
                    <h2>Er du sikker?</h2>
                    <form asp-action="SlettbrukerConfirmed" method="post">
                        <p>Dette kan ikke reverseres.</p>
                        <button type="submit" class="delete-button">Slett bruker</button>
                    </form>
                        <div class="forside-knapp" style="margin-top: 5px;">                 
                        <button onclick="redirectToLogin()">Gå tilbake til forsiden</button>
                        </div>    
                </div>
            </div>

        <script>
            function setRandomBackground() { // Funksjon for å hente random bilde fra 'Bakgrunnsbilder'
                fetch('/Home/GetRandomBackgroundImage')
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            console.error(data.error);
                        } else {
                            document.body.style.backgroundImage = `url('${data.imagePath}')`;
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }

            window.onload = setRandomBackground;
            

            function redirectToLogin() {
            window.location.href = "/Account/LogOut";
            }
        </script>
        
    </body>
</html>