/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  position: fixed;
}


.btn-primary {
  color: #E4F2E6;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.custom-dropdown-menu {
  background-color: #E4F2E6;
  width: 20vw; /* 20% av bredden på viewport */
  height: 60vh; /* 60% av høyden på viewport */
  color: #00973D; /* Setter standard farge for tekst */
  text-align: center; /* Midtstiller teksten */
}


.custom-dropdown-menu .divider {
  margin: 2vh; /* Fjerner margin for divider */
  padding: 0; /* Fjerner padding for divider */
}

.custom-dropdown-menu .logout {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #00973D; /* Setter fargen til grønn */
}


