/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #96B7D6;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.custom-dropdown-menu {
  background-color: #E4F2E6;
  width: 20vw; /* 20% av bredden på viewport */
  height: 60vh; /* 60% av høyden på viewport */
  overflow-y: auto; /* Legger til rullefelt hvis innholdet overstiger høyden */
  text-align: center; /* Midtstiller teksten */
  color: #00973D;
}

.circle-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}


.custom-dropdown-menu a {
  display: block;
  padding: 10px;
  color: #00973D; /* Tekstfarge */
  text-decoration: underline;
}
.custom-dropdown-menu a:hover {
  text-decoration: underline; /* Understreker teksten ved hover */
  color: #00973D;
}
.custom-dropdown-menu .spacer {
  margin-bottom: 20px; /* Legger til rom mellom elementene */
}
.custom-dropdown-menu .logout {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #00973D;
}
.custom-dropdown-menu .divider {
  position: absolute;
  bottom: 50px; /* Plasserer linjen rett over "Logg ut" */
  width: 100%;
}