@model IEnumerable<KartverketGruppe1.Data.Meldinger>

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alle Meldinger</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse; /*Kantlinjene til tilstøttende celler blir slått sammen til en enkelt kantlinje*/
            margin-top: 20px;
        }

        th, td {            /* tr = table row, td = table data*/
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f0f0f0;
        }
         
         .col-dato {
            width: 20%;
        }

        .col-melding {
            width: 60%;
        }

        .col-innmelding-id {
            width: 20%;
        }
    </style>
</head>
<body>
    <h1>Alle meldinger</h1>
        <table>
        <colgroup>  @*Disse brukes til å definere bredden på kolonnene i tabellen.*@
                <col class="col-dato">
                <col class="col-melding">
                <col class="col-innmelding-id">
            </colgroup>
            <thead>  @*Tabellens overskriftsrader*@
            <tr>   
                <th>Dato</th>  @*Navnet på kolonnene*@
                <th>Melding</th>
                <th>Innmelding ID</th>
            </tr>
        </thead>
        <tbody>
            @*Genererer en tabell der hver rad representerer en melding, og hver celle viser en spesifikk egenskap for meldingen.*@
            @foreach (var melding in Model)
            {
                <tr>
                    <td>@melding.SendeTidspunkt</td>
                    <td>@melding.Innhold</td>
                    <td>@melding.InnmeldingID</td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>
