
@{
    ViewData["Title"] = "Hjelp / Kontakt Oss";
}

<style>
    /* Stiler for body-elementet */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Sørger for at body fyller hele skjermen */
    }

    /* Stiler for container-elementet */
    .container {
        width: 75%;
        margin: 0 auto;
        padding: 50px 0;
        flex: 1; /* Hovedinnholdet strekker seg før footeren */
    }

    /* Stiler for h2-elementer */
    h2 {
        color: #006428;
        border-bottom: 2px solid #2E7D32;
        display: inline-block;
        padding left: 25px;
    }

     /* Stiler for h2-elementer */
    a {
        text-decoration: none;
        color: #006400; /* Bruker samme grønnfarge for alle linker */
    }

    /* Stiler for a-elementer (lenker) når de hovres over */
    a:hover {
        text-decoration: underline;
        color: #006400;
    }

    .contact-info {
        padding-top: 10px;
        border-right: 1px solid #706F6E;
    }

      /* Senke annen og fjerde boks */
    .row > div:nth-child(2),
    .row > div:nth-child(4) {
        margin-top: 40px; /* Juster høyden her som nødvendig */
    }

    .contact-icons {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    .help-info {
        padding-top: 10px;
        padding-right: 50;
        padding-left: 10px;
        border-left: 1px solid #2E7D32; /* Legg til en linje for å matche høyre linje i 'Kontakt oss' */
    }

    .footer {
        background-color: #f8f8f8;
        padding: 20px;
        color: #333;
        border-top: 10px solid #006400; /* Legger til en linje på toppen */
        text-align: left;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-section {
        margin: 5px;
        flex: 1;
        min-width: 200px;
    }

    .footer-section h3 {
        color: #1A532A;
        margin-top: 0;
    }

    /* Stiler for elementer med klassen .footer-bottom */
    .footer-bottom {
        text-align: left;
        padding-top: 10px;
        border-top: 1px solid #ccc;
    }
</style>

<div style="display: flex; align-items: center; margin-bottom: 20px;">
    <button onclick="window.location.href='@Url.Action("KartInnmelding", "Home")'" style="margin-left: -50px; margin-right: 30px; padding: 5px; background-color: transparent; color: #3b6e3b; border: none; cursor: pointer; display: flex; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="24" viewBox="0 0 24 24" fill="none" stroke="#3b6e3b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
            <line x1="30" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
    </button>
</div>

<body>
    <div class="container">
        <!-- Hovedinnholdet på siden -->
        <div class="content">
            <div class="row">
             <!-- En kolonne som tar opp 3 av 12 kolonner i et grid-system -->
                <div class="col-md-3">
                    <h2>Kontakt oss</h2>
                    <div class="contact-info">
                        <div class="contact-icons">
                            <img src="~/images/PhoneIcon.png" alt="Telefon ikon" width="22" height="22">
                            <span>Telefon</span>
                        </div>
                          <p><p>
                        <div class="contact-icons">
                            <img src="~/images/MailIcon.png" alt="E-post ikon" width="22" height="22">
                            <a >E-post</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2> </h2>
                    <div class="info-kontakt-oss">
                        <a href="tel:+4732118000">32 11 80 00</a><br>
                      <p><p>
                        <a href="mailto:post@kartverket.no">post@kartverket.no</a><br>
                    </div>
                </div>
                <div class="col-md-3">
         <h2> Ressurser</h2>
         </div>
        <div class="col-md-3">
      <h2> </h2>
    <div class="about help-info"> 
       <a href="https://status.kartverket.no">Driftsmeldinger</a><br>
       <p><p>
       <a href="https://www.kartverket.no/om-kartverket/faq">Ofte stilte spørsmål</a><br>
       <p><p>
       <a href="https://www.kartverket.no/eiendom/skjema/alleskjema">Skjemaer</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- Footer-seksjonen -->
      <footer class="footer">
        <div class="footer-content">
          <!-- Første seksjon i footeren -->
            <div class="footer-section">
                <img src="~/images/KartikusGladTekst.png" alt="Kartverket logo" width="220" height="135" />
            </div>
             <!-- Andre seksjon i footeren -->
            <div class="footer-section">
                <h3>Åpningstider (man – fre):</h3>
                <p>Kundesenter/sentralbord: 09.00 – 15.00</p>
                <p>Resepsjon: 08.00 – 15.00</p>
            </div>
              <!-- Tredje seksjon i footeren -->
            <div class="footer-section">
                <h3>Aktuelt</h3>
                <a href="https://www.kartverket.no/om-kartverket/arrangement">Arrangementer og kurs</a><br />
                <a href="https://www.kartverket.no/om-kartverket/nyheter">Nyheter</a><br />
                <a href="https://www.kartverket.no/om-kartverket/jobb-i-kartverket">Ledige stillinger</a><br />
                <a href="https://www.kartverket.no/om-kartverket/presse">Presse</a>
            </div>
        </div>
        </div>  
        <!-- Footer-bunnseksjonen -->
          <div class="footer-bottom">
                <h3>Følg oss</h3> 
                <a href="https://www.facebook.com/kartverket.no" class="footer-link">Facebook</a> | 
                <a href="https://www.instagram.com/kartverket.no/" class="footer-link">Instagram</a> | 
                <a href="https://www.linkedin.com/company/kartverketno/posts/?feedView=all" class="footer-link">LinkedIn</a> | 
                <a href="https://pub.dialogapi.no/s/3403d74a-8e34-4ab5-a221-1bf58c425982" class="footer-link">Nyhetsbrev</a> | 
                <a href="https://vimeo.com/kartverket/videos" class="footer-link">Video</a>
        </div>
    </footer>

     <!-- Inkluderer nødvendige JavaScript-biblioteker -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>