@* @model KartverketGruppe1.Models.LagBrukerViewModel
@{
    ViewData["Title"] = "NyBruker";
}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kartverket</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Arial, sans-serif;
            background-size: cover;
            background-position: center;
        }

        /* .background-image {
            background-image: url('/Images/TestBryggeBilde.png'); 
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; // Sørger for at bakgrunnsbildet ligger bak innholdet 
        } */

        /* body {
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
        } */

        .container {
            height: calc(100% - 60px); /* For å ta høyde for top bar */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            background-color: rgba(255, 255, 255, 0.8); /* Gjennomsiktig hvit bakgrunn */
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 100%;
            z-index: 1; /* Sørger for at den er foran bakgrunnsbildet */
        }

            .form-container h2 {
                color: #00509C;
                margin-bottom: 20px;
            }

            .form-container p {
                margin-bottom: 20px;
                color: #333;
            }

            .form-container input[type="text"],
            .form-container input[type="email"],
            .form-container input[type="password"] {
                width: 100%;
                padding: 12px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }

            .form-container button {
                background-color: #65C28B;
                color: white;
                padding: 12px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
                font-size: 16px;
            }

                .form-container button:hover {
                    background-color: #58a77b;
                }
    </style>
</head>
<body>
    <!--<div class="background-image"></div>   ||Bakgrunnsbildet -->

    <div class="container">
        <div class="form-container">
            <h2>Registrer din nye bruker her</h2>
            <p></p>

            <form asp-action="LagBruker" method="post">
                <label for="Fornavn">* Fornavn:</label>
                <input type="text" id="Fornavn" name="Fornavn" required>
                <br>
                <label for="Etternavn">* Etternavn:</label>
                <input type="text" id="Etternavn" name="Etternavn" required>
                <br>
                <label for="Epost">* Epost:</label>
                <input type="email" id="Epost" name="Epost" required>
                <br>
                <label for="Passord">* Passord:</label>
                <input type="password" id="Passord" name="Passord" required>
                <br>
                <label for="Telefonnummer"> Telefon</label>
                <input type="text" id="Telefonnummer" name="Telefonnummer">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>

<script>
    function setRandomBackground() { // Funksjon for å hente random bilde fra 'Bakgrunnsbilder'
        fetch('/Home/GetRandomBackgroundImage')
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error(data.error);
                } else {
                    document.body.style.backgroundImage = `url('${data.imagePath}')`;
                }
            })
            .catch(error => console.error('Error:', error));
    }


    window.onload = setRandomBackground;
</script> *@


@{
    ViewData["Title"] = "Registrer bruker";
}
<style>
    body {
        background-size: cover;
        background-position: center;
        font-family: Arial, sans-serif;
    }

    .login-container {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        padding: 20px;
        width: 320px;
        position: absolute;
        top: 375px; /*Endret fra 55% til 375px*/
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

        .login-container h2 {
            margin-bottom: 10px;
            color: #333;
        }


    .date-group {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
    }

    .date-input {
        width: 70px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
    }

        .date-input.year {
            width: 100px;
        }

    .date-label {
        display: block;
        margin-bottom: 5px;
        color: #666;
        font-size: 14px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn-block {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    .btn-primary {
        background-color: #4CAF50;
        color: white;
    }

    .separator {
        text-align: center;
        margin: 15px 0;
        color: #777;
    }

    .guest-link {
        display: block;
        margin-bottom: 15px;
        color: #777;
    }

</style>

<div class="login-container">
    <h2>Registrer ny bruker</h2>
    @* <p>Har du ikke konto? <a href="Home/LagBruker" class="register-link">Registrer deg</a></p> *@
    <a href="/Home/KartInnmelding" class="guest-link">Fortsett som gjest</a>

    <form asp-action="LagBruker" asp-controller="Home" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="Fornavn" placeholder="Fornavn *" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Etternavn" placeholder="Etternavn *" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="Epost" placeholder="Epost *" required>
        </div>
        <div class="form-group">
            <label class="date-label">Fødselsdato:</label>
            <div class="date-group">
                <input type="text" class="date-input" name="DD" placeholder="DD" maxlength="2" pattern="[0-9]*">
                <input type="text" class="date-input" name="MM" placeholder="MM" maxlength="2" pattern="[0-9]*">
                <input type="text" class="date-input year" name="YYYY" placeholder="ÅÅÅÅ" maxlength="4" pattern="[0-9]*">
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="Passord" placeholder="Passord *" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Telefonnummer" placeholder="Telefon">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Lag bruker</button>
    </form>

</div>


<script>
    function setRandomBackground() { 
        fetch('/Home/GetRandomBackgroundImage')
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error(data.error);
                } else {
                    document.body.style.backgroundImage = `url('${data.imagePath}')`;
                }
            })
            .catch(error => console.error('Error:', error));
    }


    window.onload = setRandomBackground;
</script>