@model KartverketGruppe1.Data.Meldinger

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meldingsboks</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f0f0f0;
        }

        .container {
            display: flex;
            justify-content: space-between;
        }

        .column {
            flex: 1;
            padding: 10px;
        }

        .middle-column {
            flex: 2; /* Gjør midtkolonnen bredere */
        }

        textarea {
            width: 100%;
            height: 150px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: none;
        }

        button {
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #00973D;
            color: white;
            border: none;
            border-radius: 5px; 
            cursor: pointer;
        }

            button:hover {
                background-color: #58a77b;
            }
    </style>
</head>
<body>

<div class="container">
    @*Lager et skjema for å sende melding.
    Når brukeren fyller ut feltet og sender skjemaet, går dataene til SendMelding på serveren *@
    <form for asp-action="SendMelding" method="post">
        <input type="hidden" asp-for="InnmeldingID" id="id" />
        <input type="hidden" asp-for="SendeTidspunkt" id="SendeTidspunkt"/>
        <input type="text" asp-for="Innhold" id="Innhold"/>

    </form>
</div>
</body>
</html>
