<h2>Legg til avvik</h2>
<form asp-action="AddAvvik" method="post">
    <label for="Avvik">Legg til avvik:</label>
    <input type="text" id="Avvik" name="Avvik" />
    <button type="submit">Legg til</button>
</form>