@model List<KartverketGruppe1.Data.Status>
@{
    ViewData["Title"] = "Overview";
}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kartverket</title>
    <style>
    </style>
    </head>
    <body>
    <h2>Statustype</h2>

    <form asp-action="lagStatus" method="post">

        <label for="StatusType">Legg til statustype:</label>
        <input type="text" id="StatusType" name="StatusType" required>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    @* Få inn samme greia for Prioritet*@

    <h2>Avvikstype</h2>
    <form asp-action="lagAvvikstype" method="post">
        <label for="Type">Legg til avvikstype:</label>
        <input type="text" id="Type" name="Type" required>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2>Prioritet</h2>
    <form asp-action="LagPrioritet" method="post">
        <label for="Prioritetsnivå">Legg til prioritet:</label>
        <input type="text" id="Prioritetsnivå" name="Type" required>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    
    

    @* <h2>Oversikt over statustyper i databasen</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Etternavn</th>
                <th>Brukernavn</th>
                <th>Epost</th>
                <th>Telefon</th>
                <th>Passord</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var change in Model)
            {
                <tr>
                    <td>@change.StatusID</td>
                    <td>@change.Statustype</td>
                </tr>
            }
        </tbody>
    </table> *@

    </body>

</html>